@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.form-root {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #eef2f6;
}
